/* AdminDashboard.css */

.admin-dashboard {
    padding: 20px;
    background-color: #f7f7f7;
  }
  
  .users-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    margin-top: 20px;
    font-family: Arial, sans-serif;
  }
  
  .users-table th {
    background-color:cadetblue;
    color: white;
    padding: 10px;
    text-align: left;
  }
  
  .users-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .users-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .users-table tr:hover {
    background-color: #ddd;
  }
  
  /* Navbar Styling */
  .header {
    background-color:cadetblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
  }
  
  .header input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .header button {
    padding: 8px 15px;
    background-color: #fff;
    border: none;
    color:cadetblue;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .header button:hover {
    background-color: #ddd;
  }
  